// Colour scheme
$palegreen: #9ab4bb
$coregreen: #84bd00
$brightgreen: #25a076
$darkgreen: #175e66
$lightgrey: #eaeaea
$deepgreen: #18a489

$offwhite: #f4f7f8
$darkblue: #115e67
$darkgrey: #0f2522
$lightblue: #42b4d6

*
    box-sizing: border-box
    font-family: 'varah-regular'

body
    margin: 0
    background: $lightgrey


h1, h2, h3, h4, h5
    font-family: 'varah-bold'

.container
    margin: 0 auto
    max-width: 1000px
    padding: 0 15px

.visually-hidden
    position: absolute
    left: -9999em
    top: auto
    width: 1px
    height: 1px
    overflow: hidden
    

// Header
.site-header
    padding: 10px 0px
    background: white

.site-header__masthead .container
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between

.site-header__logo
    width: 170px
    max-width: 200px

.site-header__user-profile
    display: flex
    flex-direction: row
    align-items: center


.site-header__user-avatar
    width: 50px
    max-width: 50px

.site-header__user-popup
    display: none

.site-header__app-switcher
    width: 35px
    margin-left: 10px
    @media (min-width: 700px)
        margin-left: 30px


// Phase banner
.phase-banner
    background-color: $offwhite
    padding: 15px 0px 12px 0px

.phase-banner__message
    color: $darkgrey
    display: flex
    margin: 0px

.phase-banner__tag
    background-color: $lightblue
    color: $offwhite
    display: inline-block
    padding: 2px 5px
    margin-right: 10px
    font-size: 0.95em
    align-self: flex-start
    transform: translateY(-2px)


// Hero
.hero
    background-color: $darkgreen
    color: $offwhite
    width: 100vw
    position: relative
    left: 50%
    right: 50%
    margin-left: -50vw
    margin-right: -50vw
    margin-top: 0px
    padding-top: 25px
    padding-bottom: 25px
    overflow: hidden
    @media (min-width: 800px)
        padding-top: 45px
        padding-bottom: 45px

    .page-title
        font-size: 2em
        margin-top: 0px
        margin-bottom: 10px
        max-width: 80%
        z-index: 2
        color: white
        position: relative
        @media (min-width: 800px)
            font-size: 3em
            max-width: 50%
    .lede
        font-size: 1.15em
        max-width: 80%
        z-index: 2
        color: white
        position: relative
        @media (min-width: 800px)
            font-size: 1.2em
            max-width: 50%

    form
        background: white
        padding: 25px 15px
        z-index: 2
        position: relative
        @media (min-width: 600px)
            padding: 40px
            max-width: 75%
            display: flex
            flex-direction: row
            align-items: center

        .form-input
            margin-bottom: 15px
            flex: 1
            @media (min-width: 600px)  
                margin-bottom: 0px

        input
            border: 1px solid $lightgrey
            background: none
            font-size: 1em
            padding: 15px
            width: 100%
            flex: 1

        button, input[type=submit]
            background: $deepgreen
            color: white
            border: none
            width: 100%
            font-size: 1.1em
            letter-spacing: 1px
            padding: 15px
            position: relative
            font-weight: bold
            @media (min-width: 600px)
                max-width: 170px
                text-align: left


            i
                position: absolute
                right: 15px
                top: 50%
                transform: translateY(-50%)

.hero__pattern
    position: absolute
    bottom: 0px
    right: 0px
    transform: translate(70%, 50%)
    z-index: 1
    height: 110%

// Browse grid
.browse
    padding-top: 25px
    padding-bottom: 25px  
    @media (min-width: 800px)
        padding-top: 50px
        padding-bottom: 50px  
    ul
        list-style-type: none
        margin: 0
        padding: 0
        @media (min-width: 800px)
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-column-gap: 35px
            grid-row-gap: 35px

.panel
    background: white
    padding: 20px
    margin-bottom: 15px
    &:last-of-type
        margin-bottom: 0px
    @media (min-width: 800px)
        margin-bottom: 0px

    a
        color: $darkgreen
        text-decoration: none
        h2
            font-size: 1.2em
            margin: 0px
            margin-bottom: 15px
        i
            color: $lightblue
            margin-left: 5px

    p
        margin: 0px
        color: $darkgrey


// Footer
.site-footer
    background: white
    padding-top: 25px
    padding-bottom: 25px      

.site-footer__menu
    list-style: none
    margin: 0
    padding: 0

    li
        margin-bottom: 10px
        a
            color: $darkgreen
            text-decoration: none
