@import 'helpers'


// Hero
.hero
    .page-header__title
        max-width: 80%
        @media (min-width: 800px)
            max-width: 50%
    .page-header__lede
        max-width: 80%
        @media (min-width: 800px)
            max-width: 50%

    .page-header__panel
        @media (min-width: 600px)
            display: flex
            flex-direction: row
            align-items: center

        .form-input
            margin-bottom: 15px
            flex: 1
            @media (min-width: 600px)  
                margin-bottom: 0px

        input
            border: 1px solid $lightgrey
            background: none
            font-size: 1em
            padding: 15px
            width: 100%
            flex: 1

        button
            width: 100%
            @media (min-width: 600px)  
                max-width: 180px
            


// Key people
.key-people, .all-people
    padding: 25px 0px
    @media (min-width: 800px)
        padding: 40px 0px


// User card
.user-card
    display: flex
    flex-direction: row
    div
        flex: 1
        display: flex
        flex-direction: column
        justify-content: center

.user-card__avatar
    border-radius: 100%
    margin-right: 20px
    width: 100px
    height: 100px
    object-fit: cover

.panel .user-card__name
    display: inline-block
    font-size: 1.1em
    margin-bottom: 10px
    font-weight: bold
    a
        color: $darkestgreen


// Browse grid
.browse
    padding-top: 25px
    padding-bottom: 25px
    @media (min-width: 800px)
        padding-top: 50px
        padding-bottom: 50px  
    ul
        list-style-type: none
        margin: 0
        padding: 0
.panel
    margin-bottom: 15px
    &:last-of-type
        margin-bottom: 0px
    @media (min-width: 800px)
        margin-bottom: 0px
    a
        text-decoration: none
        h2
            color: $darkgreen
            font-size: 1.2em
            margin: 0px
            margin-bottom: 15px
        i
            color: $lightblue
            margin-left: 5px
    p
        margin: 0px
        color: $darkgreen


// All people table

.all-people
    padding: 20px
    background: white
    margin-bottom: 20px
    @media (min-width: 800px)
        padding: 40px
        margin-bottom: 40px

.table-controls
    margin-bottom: 20px
    @media (min-width: 800px)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    form
        display: flex
        flex-direction: row
        align-items: center
        label
            margin-right: 10px
        select
            
            margin-right: 10px
    .volunteer-count
        color: $darkgreen
        font-style: italic
        @media (min-width: 800px)
            margin: 0

table
    width: 100%
    border-collapse: collapse
    th
        padding: 10px 0px
        color: $darkgreen
        text-align: left

    td
        color: $darkgreen
        padding: 10px 0px
        a
            color: $darkgreen
    
    .fa-check
        background: $deepgreen
        color: white
        font-size: 0.9em
        border-radius: 100%
        padding: 5px

    tr
        border-bottom: 1px solid $lightgrey

    

.course-choices
    margin-bottom: 20px
    @media (min-width: 800px)
        margin-bottom: 40px

.course-choice
    background: white
    padding: 20px
    margin-bottom: 20px
    @media (min-width: 800px)
        padding: 40px

    h2
        color: $darkestgreen
        i
            color: $lightblue
            margin-left: 10px

.course-dates
    padding: 20px
    margin-bottom: 20px
    @media (min-width: 800px)
        padding: 40px
        margin-bottom: 40px

    table
        margin-bottom: 20px
        @media (min-width: 800px)
            margin-bottom: 40px
        td
            padding: 15px 0px


.upcoming-sessions-title
    margin-top: 60px

.modules
    background: white
    // padding: 20px
    margin-bottom: 20px
    @media (min-width: 800px)
        // padding: 40px
        margin-bottom: 60px

    table
        border: 1px solid $lightgrey
        tr
            border: 2px solid $lightgrey
        td
            padding: 25px
            &:nth-of-type(2)
                font-weight: bold
                color: $darkestgreen
        &.upcoming
            tr:first-of-type
                td
                    font-size: 1.3em