// Colour scheme
$palegreen: #9ab4bb
$coregreen: #84bd00
$brightgreen: #25a076
$darkgreen: #175e66
$lightgrey: #eaeaea
$deepgreen: #18a489

$offwhite: #f4f7f8
$darkblue: #115e67
$darkgrey: #0f2522
$lightblue: #42b4d6


// Page context above heading
.page-context
    font-size: 1.25em
    opacity: 0.5
    margin-bottom: 5px


// Page title
.page-title
    font-size: 2.2em
    margin: 0px 0px 50px 0px
    color: $darkgrey
    @media (min-width: 800px)
        font-size: 2.7em


// Lede
.lede
    font-size: 1.25em
    font-weight: bold
    color: $darkgrey


// Grid helper classes
.grid-2-columns
    margin-bottom: 25px
    @media (min-width: 700px)
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 30px

.grid-3-columns
    margin-bottom: 25px
    @media (min-width: 700px)
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 30px

.grid-4-columns
    margin-bottom: 25px
    @media (min-width: 700px)
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-column-gap: 30px    

.main-content
    grid-column: 1 / 3
    background: white