

@font-face {
    font-family: 'varah';
    src: url('varah-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'varah';
    src: url('varah-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}