<!DOCTYPE html>
<html>
<head>
    <!-- Samaritans Prototyping Kit. Try not to use this code in production. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Samaritans People | Samaritans prototyping kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/fonts/stylesheet.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/custom.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="/client.js"></script>
</head>
<body>

    <header class="header">
        <div class="header__masthead container">


                    <a class="header__logo-holder" href="/">
                        <img class="header__logo" src="/logo.svg"/>
                    </a>

                    <div class="header__actions">

                        <a href="/profile" class="header__user-avatar-link">
                            <img class="header__user-avatar" src="/user.svg"/>
                        </a>

                        <!-- <div class="site-header__user-popup">
                            <h3>Namey McName</h3>
                            <p><small><span class="tag">Trainer</span> Birmingham branch</small></p>
                            <div class="site-header__user-actions">
                                <p><a href="/profile">See my profile</a></p>
                                <p><a href="#">Sign out</a></p>
                            </div>
                        </div> -->

                        <a href="#" class="header__app-switcher-link">
                            <img class="header__app-switcher" src="/app-switcher.svg"/>
                        </a>

                    </div>

        </div>
    </header>

    <div class="phase-banner {% block phaseClass %}{% endblock%}">
        <div class="container">
            <p class="phase-banner__message"><strong class="phase-banner__tag">Prototype</strong>This is a prototype of a brand new service.</p>
        </div>
    </div>


            {% block content %}
            {% endblock %}


    <footer class="footer">
        <div class="container">
            <ul class="footer__menu">
                <li><a href="/" class="footer__menu-link">Normal view</a></li>
                <li><a href="/admin" class="footer__menu-link">Expanded view</a></li>
            </ul>
            <p class="footer__legal">
                &copy; Samaritans 2018
            </p>
        </div>
    </footer>
</body>
</html>

