{% extends '_layout.html' %}
{% block content %}

<section class="page-header page-header--overlap">
    <img class="page-header__pattern" src="/pattern.svg"/>
    <div class="container">
        <h1 class="page-header__title">Browse branches</h1>
    </div>
</section>


<main class="container">


        <section id="key-people" class="all-people">
                <section class="table-controls">
                    <form>
                        <label class="form-label" for="filter">Filter</label>
                        <select id="filter" class="select-input">
                            <option>All</option>
                            <option>Only permenant branches</option>
                            <option>Only temporary branches</option>
                        </select>
                    </form>
                    <p class="volunteer-count">Showing 27 branches</p>
                </section>
                
                <table class="volunteers-table">
                        <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Region</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/birmingham-branch">Birmingham</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Solihull</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Lichfield</a></td>
                                    <td>Midlands</td>
                                </tr>
                                        <tr>
                                    <td><a href="/birmingham-branch">Birmingham</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Solihull</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Lichfield</a></td>
                                    <td>Midlands</td>
                                </tr>
                                        <tr>
                                    <td><a href="/birmingham-branch">Birmingham</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Solihull</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Lichfield</a></td>
                                    <td>Midlands</td>
                                </tr>
                                        <tr>
                                    <td><a href="/birmingham-branch">Birmingham</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Solihull</a></td>
                                    <td>Midlands</td>
                                </tr>
                                <tr>
                                    <td><a href="/birmingham-branch">Lichfield</a></td>
                                    <td>Midlands</td>
                                </tr>
                            </tbody>
                </table>
            </section>
    
    </main>
        

{% endblock %}