{% extends '_layout.html' %}
{% block content %}

<section class="page-header">
    <img class="page-header__pattern" src="/pattern.svg"/>
    <div class="container">
        <p class="page-header__context">West Midlands region</p>
        <h1 class="page-header__title">Birmingham branch</h1>
        <aside class="page-header__panel">
            <p>Address: <strong>13 Bow St, Birmingham, B1 1DW</strong></p>
            <p><a href="#">Directions</a></p>
        </aside>
    </div>
</section>

<section class="page-navigation">
    <ul class="page-navigation__list container">
        <li class="page-navigation__list-item">
            <a class="page-navigation__link" href="#key-people">Key people</a>
        </li>
        <li class="page-navigation__list-item">
            <a class="page-navigation__link" href="#all-people">All people</a>
        </li>
        <li class="page-navigation__list-item">
            <a class="page-navigation__link" href="#reports">Reports</a>
        </li>
    </ul>
</section>

<main class="container">
        <section id="key-people" class="key-people">
            <h2 class="section-title">Key people</h2>
            <div class="grid-3-columns">
                <div class="user-card panel">
                    <img src="https://placeimg.com/100/100/people?q=1" alt="User avatar" class="user-card__avatar"/>
                    <div>
                        <p class="user-card__name"><a href="#">Namey McName</a></p>
                        <p class="user-card__meta">Director</p>
                    </div>
                </div>
                <div class="user-card panel">
                    <img src="https://placeimg.com/100/100/people?q=2" alt="User avatar" class="user-card__avatar"/>
                    <div>
                        <p class="user-card__name"><a href="/jane-volunteer">Jane Volunteer</a></p>
                        <p class="user-card__meta">Deputy director, recruitment</p>
                    </div>
                </div>
                <div class="user-card panel">
                    <img src="https://placeimg.com/100/100/people?q=3" alt="User avatar" class="user-card__avatar"/>
                    <div>
                        <p class="user-card__name"><a href="#">James Volunteer</a></p>
                        <p class="user-card__meta">Deputy director, training</p>
                    </div>
                </div>
                <div class="user-card panel">
                    <img src="https://placeimg.com/100/100/people?q=4" alt="User avatar" class="user-card__avatar"/>
                    <div>
                        <p class="user-card__name"><a href="#">Firstname Surname</a></p>
                        <p class="user-card__meta">Trainer</p>
                    </div>
                </div>
                <div class="user-card panel">
                    <img src="https://placeimg.com/100/100/people?q=5" alt="User avatar" class="user-card__avatar"/>
                    <div>
                        <p class="user-card__name"><a href="#">Firstname Surname</a></p>
                        <p class="user-card__meta">Trainer</p>
                    </div>
                </div>
            </div>
        </section>
            

        <h2 class="section-title">All people</h2>
        <section id="all-people" class="all-people">
            <section class="table-controls">
                <form>
                    <label class="form-label" for="filter">Filter</label>
                    <select id="filter" class="select-input">
                        <option>All</option>
                        <option>Only active volunteers</option>
                        <option>Only potential volunteers</option>
                    </select>
                </form>
                <p class="volunteer-count">Showing 27 volunteers</p>
            </section>
            
            <table class="volunteers-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Phone number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/fiona-morris">Fiona Morris</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Branch volunteer</td>
                        <td>Birmingham</td>
                    </tr>
                    <tr>
                        <td><a href="#">Namey McName</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Director</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">John Volunteer</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Listening volunteer</td>
                        <td>0755 555 5555</td>
                    </tr>
                    <tr>
                        <td><a href="/jane-volunteer">Jane Volunteer</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Deputy director, recruitment</td>
                        <td>0755 555 5555</td>
                    </tr>
                    <tr>
                        <td><a href="#">Janet Person</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Listening volunteer</td>
                        <td>0755 555 5555</td>
                    </tr>
                    <tr>
                        <td><a href="#">Namey McName</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Listening volunteer</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">John Volunteer</a></td>
                        <td><i class="fas fa-check"></i></td>
                        <td>Branch volunteer</td>
                        <td>0755 555 5555</td>
                    </tr>
                    <tr>
                        <td><a href="#">James Person</a></td>
                        <td><i class="rest"></i></td>
                        <td><span class="inactive">Inactive</span></td>
                        <td>0755 555 5555</td>
                    </tr>
                </tbody>
            </table>
        </section>

</main>

{% endblock %}