{% extends '_layout.html' %}
{% block content %}

<section class="profile-page-header">
    <img src="https://placehold.it/100x100" alt="Your profile picture"/>
    <div>
        <p class="page-context">Branch volunteer</p>
        <h1 class="page-title">Fiona Morris</h1>
    </div>
</section>



<div class="panel visibility-message">
    <i class="icon fas fa-eye visibility"></i>
    <p>Because you're the director of a branch <strong>Fiona Morris</strong> is a member of, you can see details about them that aren't normally visible.</div>
</div>

<h2>Personal details</h2>
<table class="volunteers-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Who can see?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td>Fiona Morris</td>
            <td class="visibility-tag">Everyone</td>
        </tr>
        <tr>
            <td><strong>Display name</strong></td>
            <td><span class="inactive">Not set</span></td>
            <td class="visibility-tag">Everyone</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>f.morris@gmail.com</td>
            <td class="visibility-tag">Everyone</td>
        </tr>
        <tr>
            <td><strong>Phone</strong></td>
            <td>0775 667 4343</td>
            <td class="visibility-tag">Everyone</td>
        </tr>
        <tr>
            <td><strong>Address</strong></td>
            <td><span class="inactive">Not set</span></td>
            <td class="visibility-tag">Only Jane's branch director</td>
        </tr>
    </tbody>
</table>
<p>
    <a href="#" class="button button--start">Edit their details</a>
    <a href="#" class="button button--outline">Reset their password</a>
</p>

<h2>Communication preferences</h2>
<table class="volunteers-table">
    <tbody>
        <tr>
            <td>Preferred communication methods</td>
            <td>Email</td>
            <td></td>
        </tr>
        <tr>
            <td>Subscribed topics</td>
            <td>Samaritans' fundraising<br/>
            Samaritans' vital work
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<p>
    <a href="#" class="button">Edit their preferences</a>
</p>


<h2>Memberships</h2>

<ul class="grid-3-columns memberships">
    <li class="panel membership">
        <div class="membership__header">
            <i class="fas fa-user"></i>
            <h3>Volunteer</h3>
        </div>
        <p>Fiona is an active Samaritans volunteer.</p>
    </li>
    <li class="panel membership">
        <div class="membership__header">
        <i class="fas fa-map-marked"></i> 
        <h3>Birmingham branch</h3>
        </div>
        <p>Fiona volunteers at Birmingham branch.</p>
    </li>
</ul>



{% endblock %}