{% extends '_layout.html' %}
{% block phaseClass %}phase-banner--transparent{% endblock%}
{% block content %}

{% include 'partials/hero.html' %}

<section class="browse">
    <ul class="grid-3-columns">

        <li class="panel">
            <a href="/birmingham-branch"><h2>My branch</h2></a>
            <p>See key people at your branch</p>
        </li>

        <li class="panel">
            <a href="/all-people"><h2>Browse people</h2></a>
            <p>See all people and filter by branch or role</p>
        </li>

        <li class="panel">
            <a href="/all-branches"><h2>Browse branches</h2></a>
            <p>See all branches and filter by region</p>
        </li>

    </ul>
</section>    

{% endblock %}