<section class="hero">
    <img class="hero__pattern" src="/pattern.svg"/>

    <div class="container">

            <h1 class="page-title">Welcome to Samaritans People</h1>
            <p class="lede">Manage your own details and search for other volunteers by branch, name or role</p>
            <form action="/results">
                <label class="visually-hidden" for="query">Search query</label>
                <div class="form-input">
                    <input id="query" type="text" placeholder="Search for people or branches"/>
                </div>
                <button class="button button--start">Search <i class="fas fa-search"></i></button>
            </form>

    </div>
</section>