







            {% extends '../_layout.html' %}
            {% block content %}
            
            <section class="page-header page-header--overlap">
                    <img class="page-header__pattern" src="/pattern.svg"/>
                    <div class="container">
                        <p class="page-header__context">Create a new user</p>
                        <h1 class="page-header__title">Their privacy</h1>
                    </div>
                </section>
            
            <main class="container">
                <div class="grid-4-columns">
                        <article class="content">
                            <form action="/">
            
                                <a class="go-back" onclick="window.history.back();" href="#" >Go back</a>
            

                                <div class="form-field">
                                        <label for="name" class="form-label">Their display name</label>
                                        <p class="form-hint">If you give a display name, this user's real name will only be visible to senior volunteers at their branch.</p>
                                        <input id="name" type="text" class="text-input">
                                    </div>
                        
                                    <div class="form-field">
                                        <label for="hide-phone" class="form-label">Hide phone number?</label>
                                        <p class="form-hint">If you hide the user's phone number, it will only be visible to senior volunteers at their branch.</p>
                                        <p class="form-hint">Email addresses are always visible.</p>
                                        <input id="hide-phone" class="checkbox-input" type="checkbox">
                                    </div>
                        
                                    <button class="button">Confirm & finish</button>
                    
                        </article>
                    </div>
            </main>
            
            {% endblock %}


