{% extends '../_layout.html' %}
{% block content %}

<section class="page-header page-header--overlap">
        <img class="page-header__pattern" src="/pattern.svg"/>
        <div class="container">
            <p class="page-header__context">Create a new user</p>
            <h1 class="page-header__title">Their contact details</h1>
        </div>
    </section>

<main class="container">
    <div class="grid-4-columns">
            <article class="content">
                <form action="/admin/create-user-3">

                    <a class="go-back" onclick="window.history.back();" href="#" >Go back</a>

                    <div class="form-field">
                            <label for="name" class="form-label">Real name</label>
                            <p class="form-hint">You can give them a display name later</p>
                            <input id="name" type="text" class="text-input" required>
                        </div>
            
                        <div class="form-field">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" type="email" class="text-input" required>
                        </div>
            
                        <div class="form-field">
                            <label for="phone" class="form-label">Phone number</label>
                            <input id="phone" type="text" class="text-input" required>
                        </div>
            
                        <div class="form-field">
                            <label for="branch" class="form-label">Home branch</label>
                            <select id="branch" class="select-input" required>
                                <option>Aberdeen</option>
                                <option>Aberystwyth</option>
                                <option>Blackpool</option>
                                <option>Brighton</option>
                                <option>Birmingham</option>
                                <option>Central london</option>
                                <option>Greenwich</option>
                                <option>Leicester</option>
                                <option>Lichfeld</option>
                                <option>Manchester</option>
                                <option>Newbury</option>
                                <option>Isle of Man</option>
                                <option>Solihull</option>
                            </select>
                        </div>
            
                        <button class="button">Next</button>
                    </form>
        
            </article>
        </div>
</main>

{% endblock %}