{% extends '../_layout.html' %}
{% block content %}

<div class="grid-3-columns">
    <article class="main-content">
        <h1 class="page-title">Create a new user</h1>
        <p class="lede">Use this form to create an account for a new volunteer joining Samaritans.</p>

        <p>Volunteers need an account to access the knowledgebase and other Samaritans services.</p>

        <p>You must only create accounts for current Samaritans volunteers.</p>    

        <blockquote class="inset">
            <p>We will store the personal information you provide and use it to communicate with the user about volunteering and other vital messages.</p>
            
            <p>The user can change their contact preferences after logging in.</p>
        </blockquote>

        <a class="button button--start" href="/admin/create-user-2">Start</a>


    </article>
</div>

{% endblock %}