{% extends '../_layout.html' %}
{% block content %}

{% include 'partials/hero.html' %}

<section class="browse">
    <ul class="grid-2-columns">
        <li class="panel">
            <a href="/birmingham-branch"><h2>My branch</h2></a>
            <p>See key people at your branch</p>
        </li>

        <li class="panel">
            <a href="/admin/create-user"><h2>Create a new user</h2></a>
            <p>Create an account for a new volunteer joining Samaritans</p>
        </li>

        <li class="panel">
            <a href="/all-branches"><h2>Browse branches</h2></a>
            <p>See all branches and filter by region</p>
        </li>

        <li class="panel">
            <a href="/all-people"><h2>Browse people</h2></a>
            <p>See all people and filter by branch or role</p>
        </li>

    </ul>
</section>



    

{% endblock %}