{% extends '../_layout.html' %}
{% block content %}

<section class="page-header page-header--overlap">
        <img class="page-header__pattern" src="/pattern.svg"/>
        <div class="container">
            <h1 class="page-header__title">Enroll on training</h1>
            <p class="page-header__lede">Use this form to book your training</p>
        </div>
    </section>

<main class="container">
    <div class="grid-4-columns">
            <article class="content">
    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit, ligula cursus feugiat auctor, tortor orci laoreet odio.</p>
                
                <p>Et accumsan nisl sapien ut elit. Donec.</p>
                
        
                
                <a class="button button--start" href="/enroll/choose-type">Choose a course</a>
        
        
            </article>
        </div>
</main>



{% endblock %}