.page-context {
  margin-top: 0px; }

.button {
  border: 0; }

form label {
  margin-bottom: 10px;
  font-size: 1.1em;
  display: inline-block;
  color: #0f2522; }

form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  padding: 12px;
  flex: 1;
  width: 100%;
  max-width: 400px; }

.site-header__masthead--with-profile {
  padding: 12px 0px; }
  .site-header__masthead--with-profile .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.site-header__user-profile {
  position: relative; }

.site-header__user-avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%; }

.site-header__user-actions {
  margin-top: 15px; }

.site-header__user-popup {
  position: absolute;
  background: white;
  padding: 15px;
  width: 190px;
  right: 0px;
  top: 45px;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: none; }
  .site-header__user-popup h3, .site-header__user-popup p {
    margin: 5px 0px; }
  .site-header__user-popup.visible {
    display: block; }

.tag {
  background: #00a589;
  color: white;
  padding: 3px 7px;
  font-size: 0.9em;
  margin-right: 3px; }

.phase-banner {
  background: none; }

.hero {
  background-color: #f4f7f8;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -50px;
  padding: 40px 0px 0px 0px; }
  .hero .page-title {
    margin-bottom: 10px; }
  .hero .lede {
    margin-bottom: 30px; }

.form-field {
  margin-bottom: 25px; }
  .form-field form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px; }
    .form-field form input {
      border: none;
      font-size: 1.1em;
      padding: 12px;
      flex: 1; }
    .form-field form button {
      border: none; }

.browse ul {
  list-style-type: none;
  padding: 0; }
  .browse ul a, .browse ul h2 {
    color: #00a589; }
