* {
  box-sizing: border-box;
  font-family: 'varah'; }

body {
  margin: 0;
  background: #eaeaea; }

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
  z-index: 2;
  position: relative; }

.visually-hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.hero .page-header__title {
  max-width: 80%; }
  @media (min-width: 800px) {
    .hero .page-header__title {
      max-width: 50%; } }

.hero .page-header__lede {
  max-width: 80%; }
  @media (min-width: 800px) {
    .hero .page-header__lede {
      max-width: 50%; } }

@media (min-width: 600px) {
  .hero .page-header__panel {
    display: flex;
    flex-direction: row;
    align-items: center; } }

.hero .page-header__panel .form-input {
  margin-bottom: 15px;
  flex: 1; }
  @media (min-width: 600px) {
    .hero .page-header__panel .form-input {
      margin-bottom: 0px; } }

.hero .page-header__panel input {
  border: 1px solid #eaeaea;
  background: none;
  font-size: 1em;
  padding: 15px;
  width: 100%;
  flex: 1; }

.hero .page-header__panel button {
  width: 100%; }
  @media (min-width: 600px) {
    .hero .page-header__panel button {
      max-width: 180px; } }

.key-people, .all-people {
  padding: 25px 0px; }
  @media (min-width: 800px) {
    .key-people, .all-people {
      padding: 40px 0px; } }

.user-card {
  display: flex;
  flex-direction: row; }
  .user-card div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.user-card__avatar {
  border-radius: 100%;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover; }

.panel .user-card__name {
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 10px;
  font-weight: bold; }
  .panel .user-card__name a {
    color: #004455; }

.browse {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (min-width: 800px) {
    .browse {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .browse ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.panel {
  margin-bottom: 15px; }
  .panel:last-of-type {
    margin-bottom: 0px; }
  @media (min-width: 800px) {
    .panel {
      margin-bottom: 0px; } }
  .panel a {
    text-decoration: none; }
    .panel a h2 {
      color: #175e66;
      font-size: 1.2em;
      margin: 0px;
      margin-bottom: 15px; }
    .panel a i {
      color: #42b4d6;
      margin-left: 5px; }
  .panel p {
    margin: 0px;
    color: #175e66; }

.all-people {
  padding: 20px;
  background: white;
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .all-people {
      padding: 40px;
      margin-bottom: 40px; } }

.table-controls {
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .table-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  .table-controls form {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .table-controls form label {
      margin-right: 10px; }
    .table-controls form select {
      margin-right: 10px; }
  .table-controls .volunteer-count {
    color: #175e66;
    font-style: italic; }
    @media (min-width: 800px) {
      .table-controls .volunteer-count {
        margin: 0; } }

table {
  width: 100%;
  border-collapse: collapse; }
  table th {
    padding: 10px 0px;
    color: #175e66;
    text-align: left; }
  table td {
    color: #175e66;
    padding: 10px 0px; }
    table td a {
      color: #175e66; }
  table .fa-check {
    background: #18a489;
    color: white;
    font-size: 0.9em;
    border-radius: 100%;
    padding: 5px; }
  table tr {
    border-bottom: 1px solid #eaeaea; }

.course-choices {
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .course-choices {
      margin-bottom: 40px; } }

.course-choice {
  background: white;
  padding: 20px;
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .course-choice {
      padding: 40px; } }
  .course-choice h2 {
    color: #004455; }
    .course-choice h2 i {
      color: #42b4d6;
      margin-left: 10px; }

.course-dates {
  padding: 20px;
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .course-dates {
      padding: 40px;
      margin-bottom: 40px; } }
  .course-dates table {
    margin-bottom: 20px; }
    @media (min-width: 800px) {
      .course-dates table {
        margin-bottom: 40px; } }
    .course-dates table td {
      padding: 15px 0px; }

.upcoming-sessions-title {
  margin-top: 60px; }

.modules {
  background: white;
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .modules {
      margin-bottom: 60px; } }
  .modules table {
    border: 1px solid #eaeaea; }
    .modules table tr {
      border: 2px solid #eaeaea; }
    .modules table td {
      padding: 25px; }
      .modules table td:nth-of-type(2) {
        font-weight: bold;
        color: #004455; }
    .modules table.upcoming tr:first-of-type td {
      font-size: 1.3em; }
