* {
  box-sizing: border-box;
  font-family: 'varah'; }

body {
  margin: 0;
  background: #eaeaea; }

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
  z-index: 2;
  position: relative; }

.visually-hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
